<%= div_for invoice do %>
	  <%= invoice.date %>
	  <%= invoice.client.name %>
	  <%= invoice.client_name%>
<% end %>

<div id="blips">
	<%= render :partial => invoice.blips %>
</div>

<%= link_to 'Edita', edit_invoice_path(invoice) %>
<%= link_to 'Mostra', invoice_path(invoice) %>
<%= link_to 'Elimina', invoice, :method => :delete, :confirm => "Segur?" %>
<br/>