<h1>Factures</h1>

<%- render :partial => @invoices, :order_by => "date" -%>


<table>



<% @invoices.each do |i|  %>
<tr id = "invoicetd" >
	<td><%= i.date %></td>
	<td><%= i.client_name %></td>
	<td>
		<% i.blips.all.each do |b| %>
			<%=b.description%>
			<br>
		<% end %>
	</td>
	<td>€<%= i.invoice_total %></td>
	<td><%= best_in_place i, :status, :type => :select, :collection => [[1, "Idle"], [2, "Enviada"], [3, "e-Enviada"], [4, "Cobrada"]] %></td>
	<td><%= link_to 'Mostra', invoice_path(i) %></td>
</tr>
	 

	
<% end %>
</table>



<br/>

<%= link_to 'Nova factura', new_invoice_path %>
<%= link_to 'Nou client', new_client_path %>


<%= javascript_tag do %>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
<% end %>