<h2>Factura <%= @invoice.number %></h2>

<%= render :partial => @invoice %>


<br/>
<div id="blips-notice"></div>
<h4>Añadir trabajo</h4>
<%= simple_form_for Blip.new(:invoice => @invoice), :remote => true do |f| %>
  <%= f.error_notification %>
  <div class="inputs">
    <%= f.hidden_field :invoice_id %>
	<%= f.input :date %>
    <%= f.input :description %>
    <%= f.input :ppu, :collection => Job.all.collect { |j| [j.name, j.price]} %>
    <%= f.input :qtt %>
  </div>

  <div class="actions">
    <%= f.submit "Añadir" %>
  </div>
<% end %>




<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %> |
<%= link_to 'Print preview', printshow_invoice_path(@invoice) %>
