<h1>Listing blips</h1>

<table>
  <tr>
    <th>Invoice</th>
    <th>Date</th>
    <th>Description</th>
    <th>Ppu</th>
    <th>Qtt</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blips.each do |blip| %>
  <tr>
    <td><%= blip.invoice_id %></td>
    <td><%= blip.date %></td>
    <td><%= blip.description %></td>
    <td><%= blip.ppu %></td>
    <td><%= blip.qtt %></td>
    <td><%= blip.price %></td>
    <td><%= link_to 'Show', blip %></td>
    <td><%= link_to 'Edit', edit_blip_path(blip) %></td>
    <td><%= link_to 'Destroy', blip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blip', new_blip_path %>
