<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Zip</th>
    <th>Poblacio</th>
    <th>City</th>
    <th>Nif</th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
	<td><%= best_in_place client, :name %></td>
    <td><%= best_in_place client, :address %></td>
    <td><%= best_in_place client, :zip %></td>
    <td><%= best_in_place client, :poblacio %></td>
    <td><%= best_in_place client, :city %></td>
    <td><%= best_in_place client, :nif %></td>
    <td><%= button_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>


<%= javascript_tag do %>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
<% end %>